<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.dapan.download">

    <application>
        <activity android:name=".test.DownloadListActivity"></activity>
        <activity android:name=".MainDownloadActivity" />

        <service android:name=".DownloadService" />
    </application>

</manifest>