<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.dapan.basic">

    <application>
        <activity android:name=".MainBasicActivity" />
        <activity android:name=".SecondBasicActivity" />
    </application>

</manifest>